In [3]:
import csv
import numpy as np
import pandas as pd
key='C:\Users\Administrator\udacity\data analyst\P01\keyboards.csv'
key_df=pd.read_csv(key)

In [56]:
key_df

    QWERTY errors  Alphabetical errors
0               6                    6
1               6                   11
2               2                    8
3               7                    5
4               8                   11
5               8                    8
6               2                   10
7               3                    7
8               5                    4
9               7                    3
10             10                    7
11              5                    6
12              4                   10
13              7                   10
14              5                    6
15              7                    5
16              4                   10
17              5                   11
18              2                   13
19              5                    8
20              3                    5
21              4                   11
22              4                    7
23              4                    8
24              4                    5

In [39]:
a=key_df['QWERTY errors']-key_df['Alphabetical errors']
print a
print 'mean:' , a.mean()
print key_df.columns

0      0
1     -5
2     -6
3      2
4     -3
5      0
6     -8
7     -4
8      1
9      4
10     3
11    -1
12    -6
13    -3
14    -1
15     2
16    -6
17    -6
18   -11
19    -3
20    -2
21    -7
22    -3
23    -4
24    -1
dtype: int64
mean: -2.72
Index([u'QWERTY errors', u'Alphabetical errors'], dtype='object')

In [13]:
b=(a-a.mean())**2
print b

0      7.3984
1      5.1984
2     10.7584
3     22.2784
4      0.0784
5      7.3984
6     27.8784
7      1.6384
8     13.8384
9     45.1584
10    32.7184
11     2.9584
12    10.7584
13     0.0784
14     2.9584
15    22.2784
16    10.7584
17    10.7584
18    68.5584
19     0.0784
20     0.5184
21    18.3184
22     0.0784
23     1.6384
24     2.9584
dtype: float64

In [27]:
c=b.sum()/(len(b)-1)
print c
print type(c)

13.6266666667
<type 'float'>

In [28]:
c**(.5)

3.6914315199752337

In [81]:
def find_sd_T_Test(data):
    diff= data[data.columns[0]]-data[data.columns[1]]
    diffsq=(diff-diff.mean())**2
    sdsqrt=diffsq.sum()/(len(diffsq)-1)
    
    sd=sdsqrt**(0.5)
    
    return sd
    
def find_t(data, sd):
    diff= data[data.columns[0]]-data[data.columns[1]]
    return diff.mean()/(sd/len(diff)**(0.5))

def t_table(C_level,data):
    from scipy import stats

    return stats.t.ppf((1-C_level)/2,len(data)-1)

def reject(t_cala,t_citi):
    if abs(t_cala)>abs(t_citi):
        return "reject H0"
    elif abs(t_cala)<abs(t_citi):
        return "fail to reject H0"

In [75]:
find_sd_T_Test(key_df)

3.6914315199752337

In [60]:
find_t(key_df,find_sd_T_Test(key_df))

-3.684207583536927

In [71]:
from scipy import stats

stats.t.ppf((1-.95)/2,24)

-2.0638985616280205

In [78]:
t_table(.95,key_df)

-2.0638985616280205

In [82]:
reject(find_t(key_df,find_sd_T_Test(key_df)),t_table(.95,key_df))

'reject H0'

In [67]:
from scipy.stats import ttest_ind
ttest_ind(key_df['QWERTY errors'],key_df['Alphabetical errors'])

Ttest_indResult(statistic=-4.0559385368573206, pvalue=0.00018256061720148224)